:root {
  --unifor-blue: #0d6efd;
  --unifor-purple: #8a2be2; /* Nova cor para a assessoria em usuario*/
}

body {

  font-family: "Inter", system-ui, sans-serif !important;
}

.card-unifor {

  background-color: var(--bs-body-bg);
  border-radius: 12px !important;
  border: 1px solid var(--bs-border-color-translucent) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02) !important;
}

.sidebar-item {
  border-radius: 8px;
  color: var(--bs-body-color); 
  transition: all 0.2s;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: var(--bs-secondary-bg);
  color: var(--unifor-blue);
}

.sidebar-item.active {
  background-color: var(--bs-primary-bg-subtle);
  color: var(--unifor-blue);
  font-weight: 600;
}

.text-unifor-purple {
  color: var(--unifor-purple) !important;
}

.border-unifor-purple {
  border-color: var(--unifor-purple) !important;
}

.bg-unifor-purple-subtle {
  background-color: rgba(138, 43, 226, 0.15) !important;
}